@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Officer Portal</title>
<meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    <link href="~/Content/kendoui/v2016.1.322/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendoui/v2016.1.322/kendo.default.min.css" rel="stylesheet" />

    <!--clean up css -->
    <link href="~/Content/bootstrap/css/bootstrap-scope.css" rel="stylesheet" />
    <link href="~/Content/styleMain.css" rel="stylesheet" />
    <link href="~/Content/stylePortalDesktop.css" rel="stylesheet" />
    <link href="~/Content/style-mobileapp.css" rel="stylesheet" />

@if (Request.IsSecureConnection)
{
    <link href="https://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
}
else
{
    <link href="http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
}
    <style>
        body {
            font: normal 13px Arial, Helvetica, sans-serif;
        }

        .plet {
            width: 100%;
        }
        table.recent-clock-records {
            border-collapse: collapse;
        }
        table.recent-clock-records, table.recent-clock-records th, table.recent-clock-records td {
            border: 1px solid black;
        }
        table.recent-clock-records th, table.recent-clock-records td {
            padding: 5px;
        }
        table.recent-clock-records th {
            background-color: lightgray;
        }
        .clock-img-btn {
            width: 100px;
        }
    </style>
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
</head>
<body>
    <div id="main-div">
        <div id="logo"><img src="~/Images/logo.png" width="310" height="65"></div>
        <a href="#" id="clock-link" class="clock-ui ui-1" style="display:none;">
            <div class="plet">
                <h3>Clock In / Out</h3>
                <img src="~/Images/icon_clock.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <div id="custom-report-links">
        </div>
        <a href="~/OfficerPortal/DailyActivityReport" target="_blank" class="ui-2" style="display:none;">
            <div class="plet">
                <h3>Daily Activity Report</h3>
                <img src="~/Images/a.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/DynamicReport/supervisor_report" target="_blank" class="ui-15" style="display:none;">
            <div class="plet">
                <h3>Field Inspection</h3>
                <img src="~/Images/a.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/SiteCheckReport" target="_blank" class="ui-17" style="display:none;">
            <div class="plet">
                <h3>Site Check Report</h3>
                <img src="~/Images/b.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/IncidentReport" target="_blank" class="ui-3" style="display:none;">
            <div class="plet">
                <h3>Incident Report</h3>
                <img src="~/Images/b.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/CleryReport" target="_blank" class="ui-14" style="display:none;">
            <div class="plet">
                <h3>Clery Report</h3>
                <img src="~/Images/b.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/IncidentChecklist" target="_blank" class="ui-4" style="display:none;">
            <div class="plet">
                <h3>Incident Checklist</h3>
                <img src="~/Images/d.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/MaintenanceRequest" target="_blank" class="ui-5" style="display:none;">
            <div class="plet">
                <h3>Maintenance Report</h3>
                <img src="~/Images/c.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/ParkingViolation" target="_blank" class="ui-6" style="display:none;">
            <div class="plet">
                <h3>Parking Violation</h3>
                <img src="~/Images/j.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/PassOnLog" target="_blank" class="ui-7" style="display:none;">
            <div class="plet">
                <h3>Pass on Log - Write</h3>
                <img src="~/Images/e.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/PassOnLogRead" target="_blank" class="ui-7" style="display:none;">
            <div class="plet">
                <h3>Pass on Log - Read</h3>
                <img src="~/Images/f.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/PolicyManual" target="_blank" class="ui-8" style="display:none;">
            <div class="plet">
                <h3>Policy	Manual</h3>
                <img src="~/Images/policy-manual.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/PostOrders" target="_blank" class="ui-9" style="display:none;">
            <div class="plet">
                <h3>Post Orders</h3>
                <img src="~/Images/Orders.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/TemperatureLog" target="_blank" class="ui-10" style="display:none;">
            <div class="plet">
                <h3>Temperature Log</h3>
                <img src="~/Images/k.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/TruckLog" target="_blank" class="ui-11" style="display:none;">
            <div class="plet">
                <h3>Truck Check-In</h3>
                <img src="~/Images/g.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/TruckLogOut" target="_blank" class="ui-11" style="display:none;">
            <div class="plet">
                <h3>Truck Check-Out</h3>
                <img src="~/Images/h.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/VacationRequest" target="_blank" class="ui-12" style="display:none;">
            <div class="plet">
                <h3>Vacation Request</h3>
                <img src="~/Images/vacation-request.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/VacationRequestRead" target="_blank" class="ui-12" style="display:none;">
            <div class="plet">
                <h3>Vacation Review</h3>
                <img src="~/Images/vacation.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/VisitorLog" target="_blank" class="ui-13" style="display:none;">
            <div class="plet">
                <h3>Visitor	Check In</h3>
                <img src="~/Images/visitor-login.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href="~/OfficerPortal/VisitorLogOut" target="_blank" class="ui-13" style="display:none;">
            <div class="plet">
                <h3>Visitor	Check	Out</h3>
                <img src="~/Images/visitor-logout.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
        <a href='@Url.Action("LogOff", "Account")'>
            <div class="plet">
                <h3>Sign Out</h3>
                <img src="~/images/i.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
    </div>

    <script id="message-template" type="text/x-kendo-template">
        <div style="padding:8px 8px 0 8px;">#= message #</div>
        <hr style="background-color: \\#cccccc; border: 0 none; height:1px; margin-top:16px; margin-bottom: 16px;">
        <div style="text-align:center;padding-bottom:6px;">
            <button class="ok-button k-button">OK</button>
        </div>
    </script>
    <script id="wait-template" type="text/x-kendo-template">
        <div style="text-align:center;width:170px; height:70px;">
            <div class="k-loading-image"></div>
        </div>
    </script>
    <script id="clock-template" type="text/x-kendo-template">
        <form id="clock-form" style="margin-top:0;padding-top:0;">
            <div id="clock-out-controls" class="container bootstrap-scope" style="color:\\#000;font: normal 13px Arial, Helvetica, sans-serif; display:none;">
                <div>
                    <span>You are Currently</span><br />
                    <span style="font-weight:bold;font-size:24px">Clocked In</span>
                    <hr style="height: 1px;background: \\#333;" />
                </div>
                <div class="form-row clearfix">
                    <div class="form-label"><label>Last Clock In Date:</label></div>
                    <div class="form-field">
                        #= (CurrentClockRecord.InDate ? kendo.toString(moment.utc(CurrentClockRecord.InDate, "YYYY-MM-DDTHH:mm:ss").local().toDate(), "g") : '') #
                    </div>
                </div>
                <div class="form-row clearfix">
                    <div class="form-label"><label>Clock Out Comment:</label></div>
                    <div class="form-field">
                        <textarea id="out-comment" name="out-comment" maxlength="500" class="k-input k-textbox" style="width:300px;height:60px;"></textarea>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <div>
                        <div style="float:left;margin-right:8px;">
                            <img src="/Images/BreakGo.png" class="clock-img-btn" data-bind="events:{click:clockOutBreak}" />
                        </div>
                        <div style="float:left;margin-right:8px;">
                            <img src="/Images/LunchGo.png" class="clock-img-btn" data-bind="events:{click:clockOutLunch}" />
                        </div>
                        <div style="float:left;">
                            <img src="/Images/ShiftEnd.png" class="clock-img-btn" data-bind="events:{click:clockOutShift}" />
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div id="clock-in-controls" class="container bootstrap-scope" style="color:\\#000;font: normal 13px Arial, Helvetica, sans-serif; display:none;">
                <div>
                    <span>You are Currently</span><br />
                    <span style="font-weight:bold;font-size:24px">Clocked Out</span>
                    <hr style="height: 1px;background: \\#333;" />
                </div>
                <div class="form-row clearfix">
                    <div class="form-label"><label>Clock In Comment:</label></div>
                    <div class="form-field">
                        <textarea id="in-comment" name="in-comment" maxlength="500" class="k-input k-textbox" style="width:300px;height:60px;"></textarea>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <div>
                        <div id="clock-in-break" style="display:none;float:left;margin-right:8px;">
                            <img src="/Images/BreakReturn.png" class="clock-img-btn" data-bind="events:{click:clockInBreak}" />
                        </div>
                        <div id="clock-in-lunch" style="display:none;float:left;margin-right:8px;">
                            <img src="/Images/LunchReturn.png" class="clock-img-btn" data-bind="events:{click:clockInLunch}" />
                        </div>
                        <div id="clock-in-shift" style="display:none;float:left;">
                            <img src="/Images/ShiftStart.png" class="clock-img-btn" data-bind="events:{click:clockInShift}" />
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="clock-in-display-msg" style="margin-top:12px;display:none;">
                        <button type="button" style="height:30px;font-weight:bold;" data-role="button" data-bind="events{click: displayAllClockInOptions}">Display All Clock In Options</button>
                    </div>
                </div>
            </div>
            # if (RecentClockRecords.length > 0) { #
            <div class="container bootstrap-scope" style="color:\\#000;padding-top:10px;font: normal 13px Arial, Helvetica, sans-serif;">
                <table class="recent-clock-records">
                    <tr>
                        <th>
                            In
                        </th>
                        <th>
                            Out
                        </th>
                        <th>
                            Time
                        </th>
                    </tr>
                    # for (var i = 0; i < RecentClockRecords.length; i++) { #
                    <tr>
                        <td>
                            #: (RecentClockRecords[i].InDate ? kendo.toString(moment.utc(RecentClockRecords[i].InDate, "YYYY-MM-DDTHH:mm:ss").local().toDate(), "g") : '') #
                        </td>
                        <td>
                            #: (RecentClockRecords[i].OutDate ? kendo.toString(moment.utc(RecentClockRecords[i].OutDate, "YYYY-MM-DDTHH:mm:ss").local().toDate(), "g") : '') #
                        </td>
                        <td style="text-align:center;">
                            # if (RecentClockRecords[i].MinutesBetween !== null) {
                            if (RecentClockRecords[i].MinutesBetween > 60) { #
                            #: Math.floor(RecentClockRecords[i].MinutesBetween / 60) # hrs,
                            #: RecentClockRecords[i].MinutesBetween % 60 # min
                            # } else { #
                            #: RecentClockRecords[i].MinutesBetween # min
                            # }
                            } #
                        </td>
                    </tr>
                    # } #
                </table>
            </div>
            # } #
        </form>
    </script>
    <script id="login-form-template" type="text/x-kendo-tmpl">
        <form id="re-login-form" style="font: normal 13px Arial, Helvetica, sans-serif;">
            <dl>
                <dt>
                    <label for="UserName" style="color:\\#2e2e2e;">User Name</label>
                </dt>
                <dd>
                    <input id="UserName" name="UserName" type="text" class="k-input k-textbox" required data-required-msg="Please enter your User Name" />
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="Password" style="color:\\#2e2e2e;">Password</label>
                </dt>
                <dd>
                    <input id="Password" name="Password" type="password" class="k-input k-textbox" required data-required-msg="Please enter your Password" />
                </dd>
            </dl>
            <dl>
                <dt>
                </dt>
                <dd>
                    <button id="re-login" type="button" class="k-button">Submit</button>
                </dd>
            </dl>
        </form>
    </script>
    <script id="menu-link-template" type="text/x-kendo-tmpl">
        <a href="/OfficerPortal/CustomReport?id=#: CustomReportId #" target="_blank">
            <div class="plet">
                <h3>#: ReportNameSingular #</h3>
                <img src="/Images/a.png" width="50" height="50">
                <div class="clear"></div>
            </div>
        </a>
    </script>

    @Html.VersionedJsUrl("/Scripts/bundles/portal.js")
    @Html.VersionedJsUrl("/Scripts/app/internal-misc.min.js")
    @Html.VersionedJsUrl("/Scripts/app/internal-main-fileupload.js")
    <script type="text/javascript">
        var clientSiteId = @Model.ClientSiteId;
        var deviceType = '@Request.GetDeviceType()';
    </script>
    @Html.VersionedJsUrl("/Scripts/app/OfficerPortal/Index.js")
    <input type="hidden" id="maxUploadSize" name="maxUploadSize" value="@(ORWeb.Classes.Shared.App.MaxUploadSize)" />
    <input type="hidden" id="maxUploadSizeStr" name="maxUploadSizeStr" value="@(ORWeb.Classes.Shared.App.FormatBytes)" />
</body>
</html>
